:root{
    --bs-font-sans-serif:"Rubik",sans-serif;
}

body{
    text-decoration: none;
    background-image:url(/images/i-like-food.svg);
    background-color:rgb(243,243,243);
}

.category__link{
    text-align:center;
    display:block;
    text-decoration: none;
    transition: all 250ms;
}

.category__link:hover{
    transform:scale(1.04);
}

.category__img{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
    margin-bottom:10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16);
    overflow: hidden;
    border-radius:5px;
}
.category__img--md{
    display:flex;
    justify-content:center;
    align-items:center;
    height:150px;
    margin-bottom:10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16);
    overflow: hidden;
    border-radius:5px;
}

.category__img--md img{
object-fit:contain;}


.recipe__img--md{
    display:flex;
    justify-content:center;
    align-items:center;
    height:850px;
    margin-bottom:10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16);
    overflow: hidden;
    border-radius:5px;
    object-fit: cover;
    width: 100%;
}



.bar-link{transition:all 0.5s ease;}
.bar-link:hover{
    border-bottom:1px solid black;
}



.category__img--large{
    height:330px;
}
.category__img img{
    width: 100%;
    object-fit: cover;
}



.footer-input {
    background: #212529;
    border-color: #545454;
  }
  
  footer .footer-input:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }

  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }